.image{
  width: 20px;
  height: 20px;
  overflow: visible;
}

h1{
  margin: auto;
  color: white;
}

#header{
  width: 100%;
  height: 2em;
  background-color: #9bc4be;
}

.header-content{
  padding: 5px;
}

#header img{
  float:left;
}

#header h1{
  float: left;
  margin: auto;
  padding-left: 5px;
  font-size: 20px;
  color: white;
}

#header button{
  float: right;
}

#SummaryWidget{
  position: absolute;
  border-radius: 10px;
  top: 100px;
  right: 100px;
  width: 300px;
  height: 300px;
  background-color: rgb(153, 153, 153);
  border: 2px solid black;
  margin: auto;
  text-align: left;
}
#summarycontent{
  position: relative;
  height: 90%;
  margin: 10px;
}

#SummaryWidget h1{
  font-size: 25px
}

#SummaryWidget h2{
  font-size: 20px
}

#SummaryWidget h3{
  font-size: 15px
}

.SummaryWidgetButton{
  position: absolute;
  border-radius: 10px;
  width: 80%;
  height: 30px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0)
}

.SummaryWidgetButton.login{
  background:rgb(94, 94, 255);
}

.SummaryWidgetButton.signup{
  background-color: rgb(77, 233, 77);
}

.SummaryWidgetButton.quit{
  background:rgb(255, 107, 107);
}

.calendar:focus {
  background-color: white;
}

#navbar{
  background-color:  rgb(97, 97, 255);
}

#navbar button{
  border: none;
  outline: none;
  width: 150px;
  height: 50px;
  font-size: 1em;
  background-color: rgb(97, 97, 255);
}

#navbar button:hover{
  background-color:rgb(188, 189, 255);
}

#navbar button:focus{
  border: none;
  font-weight: bold;
  color: white;
}

#league-title{
  height: 10em;
  background: black;
}


#players {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 45%;
}

#players td, #players th {
  border: 1px solid #ddd;
  padding: 8px;
}

#players tr:nth-child(even){background-color: #f2f2f2;}

#players tr:hover {background-color: #ddd;}

#players th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}